# Firebase se configura con google-services.json para Android.
# Estos valores solo son necesarios si se agrega configuración web o runtime custom.
EXPO_PUBLIC_FIREBASE_PROJECT_ID=alertas-18f5c
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=965595683968
EXPO_PUBLIC_API_URL=https://alarmas.vercel.app
